@import 'partials/variables';

@import 'partials/containers';
@import 'partials/navbars';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/banner';
@import 'partials/jumbo';
@import 'partials/comics';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: $color-bg-main;
    color: white;
    padding: 0 0 2rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}