header {
    height: 120px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;

    li {
        position: relative;
        min-width: 3.5rem;

        a {
            color: $color-text-header;
        }

        &:hover {
            a {
                color: $color-primary;
            }

            &::after {
                content: '';
                height: 5px;
                position: absolute;
                bottom: -46px;
                left: 0;
                right: 0;
                background-color: $color-primary;
            }
        }
    }
}